*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

.hidden {
  visibility: hidden !important;
}

.active {
  box-shadow: 0 0 5px 5px rgba(32, 61, 248, 0.7);
}

.error {
  box-shadow: 0 0 5px 5px rgba(235, 39, 39, 0.8);
}

.field {
  border-collapse: collapse;
}

.field.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.cell {
  border: 4px solid #333;
  font-size: 100px;
  width: 150px;
  height: 150px;
  text-align: center;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  background-color: white;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.4);
  padding: 16px 32px;
  border-radius: 16px;
  font-size: 24px;
}

.modal-text {
  text-align: center;
  margin-bottom: 24px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.button {
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  font-family: inherit;
  font-size: inherit;
}

.button-refuse {
  background-color: #f16969;
}
.button-agree {
  background-color: #41b736;
}

.ad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ad-content {
  position: relative;
}
.ad-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
